<% provide(:title, "About") %>

<h1>About</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Vestibulum aliquam, metus varius malesuada tempus, arcu orci fermentum nulla, sed semper tortor erat et elit.
  Vivamus ornare risus ut sapien hendrerit imperdiet.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Vivamus posuere ultrices sollicitudin.
  Nulla in pellentesque risus.
  Donec dignissim ornare massa, vitae volutpat velit ultrices in.
  Vivamus elit quam, sollicitudin at fringilla nec, porttitor vitae lacus.
  Donec semper sapien ante, eu consequat orci mollis quis.
  Donec non fringilla lectus, sed maximus justo.
  Phasellus malesuada nisi elit, eget euismod erat volutpat ac.
  Nunc volutpat elit magna, ac convallis mi commodo a.
  Mauris tempus iaculis justo, ut elementum mi vulputate vitae.
  Nunc in nisl id nulla gravida mattis sit amet ut enim.
  Donec ut massa vitae nisl blandit pharetra eget sit amet nunc.
  Quisque nec dui sed erat euismod aliquam.
  Nulla eget metus sit amet urna fermentum convallis.
</p>
